@page "/"
@inject SingletonService singleton2;
@inject IRepo repoInMemory;


<p>Singleton: @singleton2.Value</p>

<div>

    <h3>Movie</h3>
    <MoviesList Movies="movies" />

</div>

<DummyInput placeholder="input text" />

@code
{
    private List<Movie> movies;
    protected override void OnInitialized() 
    {
       movies = repoInMemory.GetMovies();
   }


}