<div>
    <p>Title: <b>@Movie.Title</b></p>
    <p>Realese Date: <b>@Movie.RealeaseDate.ToString("dd MMM yyyy")</b></p>

    @if (displayButton)
    {
        <button @onclick="@(() => DeleteMovie.InvokeAsync(Movie) )">Delete</button>
    }
</div>

@code
{
    [Parameter] public Movie Movie {get; set;}
    [Parameter] public bool displayButton {get; set;}
    [Parameter] public EventCallback<Movie> DeleteMovie {get; set;}

}